@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #1a1a1a;
  --foreground: #ededed;
} */
/* Default Light Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Custom BG for any section */
  --section-bg: #d4d6d8;
  --card-bg: #fffefe;
  --row-bg:#667dab35;
  --products-bg: #dddee0;
  --sidebar-bg: #f8fafc;
}

/* Dark Mode */
html.dark {
  --background: #0e131e;
  --foreground: #bfbebe;

  /* Custom BG for any section (dark) */
  --section-bg: #000307;
  --card-bg: #14273d;
  --sidebar-bg: #151c25;
  --row-bg:#6e9bf635;
  --products-bg: #0a1a31;
}

/* Tailwind inline theme */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.sidebar-enter {
  animation: slideInLeft 0.3s ease-in-out forwards;
}

.sidebar-exit {
  animation: slideOutLeft 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.35s ease-out;
}
